<html>
<head>
<title>Flask Tutorial</title>
</head>
<body>
<h1>This is the Index page</h1>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="plot_div" style="width: 80%; height: 100%; float: left;"></div>
<div id="text_div" style="width: 20%; height: 100%; float: right;"></div>

<script type="text/javascript">

{% autoescape false %}
var trace1 = {
    x: {{ plot_data.x_axis }} ,
    y: {{ plot_data.y_axis }} ,
    type: 'scatter',
    name: '{{ plot_data.title }}'
};
{% endautoescape %}

var layout = {
    title: "Crypto Chart by Vid&Klemen",
    titlefont: {
            family: 'Poppins',
            size: 18,
            color: '#7f7f7f'
        },
    showlegend: true,
    xaxis: {
        title: 'Time',
    },
    yaxis: {
        title: 'USD$',
    },
    margin: {
        l: 70,
        r: 40,
        b: 50,
        t: 50,
        pad: 4
    }
};
var data = [trace1];

Plotly.newPlot("plot_div", data, layout, {modeBarButtonsToAdd: ["drawline"]});
var myplot= document.getElementById("plot_div");
var text_div= document.getElementById("text_div");
myplot.on('plotly_relayout', (event) => {
    if ('shapes' in event) {
        if (event["shapes"].length > 0) {
            console.log(event["shapes"].slice(-1));
            if(event["shapes"].slice(-1)[0].type=='line'){
					var esp=document.createElement("span");
					text_div.appendChild(esp);
					
					var x0 = event["shapes"].slice(-1)[0].x0;
					var x1 = event["shapes"].slice(-1)[0].x1;
					var y0 = event["shapes"].slice(-1)[0].y0;
					var y1 = event["shapes"].slice(-1)[0].y1;
					
					esp.innerHTML="x0:"+x0+" y0:"+y0+" x1:"+x1+" y1:"+y1;
					
					var esp=document.createElement("br");
					text_div.appendChild(esp);					
					
					//tole zbrise vse crte
					//Plotly.relayout(myplot, { shapes: [] });
           	}
        }
    }
});

</script>
</body>
</html>  