<html>
<head>
<title>Crypto chart for: {{ plot_data.title }} V&K</title>
<link rel="icon" href="static/favicon.ico">
</head>
<body>
<!--<h1>This is the Index page</h1>-->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="plot_div" style="width: 80%; height: 100%; float: left;"></div>
<div id="lines_div" style="width: 20%; height: 50%; float: right;">
	<select name="list_box_crte" size="8" multiple="multiple" onchange="myCrteChangeEvent();" onkeydown="listboxKeyDown(event);">
	</select>
</div>
<div id="text_div" style="width: 20%; height: 100%; float: right;"></div>


<script type="text/javascript">

function listboxKeyDown(e)
{
	var selectedValue = document.getElementsByName('list_box_crte')[0].value;
	if(e.key == "Delete")
	    for(let i=0; i<shapes.length; i++)
		{
	        if(shapes[i].name == selectedValue)
        	{
	        	var http = new XMLHttpRequest();
	        	var url = "/deleteLine?line_no=" + i;
	    		http.open("POST", url, true);
	    		http.setRequestHeader("Content-type", "application/json; charset=utf-8");
	    		http.send(JSON.stringify(shapes));
	        	break;
        	}
		}
}

function myCrteChangeEvent()
{
	var selectedValue = document.getElementsByName('list_box_crte')[0].value;
	console.log(selectedValue);
    for(let i=0; i<shapes.length; i++)
	{
        if(shapes[i].name == selectedValue)
       		shapes[i].line.color = "#FF0000";
        else
        	shapes[i].line.color = "#000000";
	}
    Plotly.redraw('plot_div');
}


function refreshCrteLb()
{
	let listbox_crte = document.getElementsByName('list_box_crte')[0];
	var i, L = listbox_crte.options.length - 1;
	for(i = L; i >= 0; i--) {
		listbox_crte.remove(i);
	}
	
	for(let i=0; i<shapes.length; i++)
	{
	    var opt = document.createElement("option");
	    opt.text = shapes[i].name;
	    opt.value = shapes[i].name;
	    listbox_crte.options.add(opt); 
	}
}

{% autoescape false %}
var krogci = {
		mode: 'markers',
	    type: 'scatter',
	    x: {{ plot_data.krogci_x }} ,
	    y: {{ plot_data.krogci_y }} ,
	    marker: { size: 12 },
        showlegend: true
	    
};
var trace1 = {
	    x: {{ plot_data.x_axis }} ,
//	    y: {{ plot_data.y_axis }} ,
	    
	    open: {{ plot_data.open }} ,
	    high: {{ plot_data.high }} ,
	    low: {{ plot_data.low }} ,
	    close: {{ plot_data.close }} ,

	    type: 'ohlc',

	    increasing: {line: {color: 'green'}},
	    decreasing: {line: {color: 'red'}},	    
	    
	    name: '{{ plot_data.title }}',
        showlegend: true
	    
};
var traceVolume= {
        type: "bar",
        x: {{ plot_data.x_axis }},
        y: {{ plot_data.volume }},
        marker: { color: 'blue'},
        yaxis:"y2",
	    name: 'Volume',
        line:{width:2},
        showlegend: false
        
};
var shapes = {{ plot_data.lines }}
{% endautoescape %}

var layout = {
	shapes: shapes,
    title: "{{ plot_data.title }}",
    titlefont: {
            family: 'Poppins',
            size: 18,
            color: '#7f7f7f'
        },
    showlegend: true,
    autoscale: true,
    clickmode: "event+select",
    
    xaxis: {
        title: 'Time',
        autorange: false,
        range: ["2024-02-01", "2024-03-01"]
    },
    yaxis: {
    	autorange: true,
        title: 'USD$',
        type: 'linear'
    },
    yaxis2: {
    	visible: false,
    	showgrid: false,
        title: 'USD$',
        type: 'linear',
        overlaying: 'y',
        range: [0, (Math.max(...traceVolume.y)*5)],
        side: 'right'
    },
    margin: {
        l: 70,
        r: 40,
        b: 50,
        t: 50,
        pad: 4
    }
};
var data = [trace1, traceVolume, krogci];
var config = {
		  scrollZoom: true,
		  showLink: true,
		  toImageButtonOptions: {
		    format: 'svg', // one of png, svg, jpeg, webp
		    filename: 'custom_image',
		    height: 500,
		    width: 700,
		    scale: 1, // Multiply title/legend/axis/canvas sizes by this factor
		    
		  },
		  editable: true,
		  //edits:{'shapePosition': false},
		  modeBarButtonsToAdd: ["drawline", "eraseshape"]
		  };


Plotly.newPlot("plot_div", data, layout, config);
refreshCrteLb();
var myplot= document.getElementById("plot_div");
var text_div= document.getElementById("text_div");
myplot.on('plotly_relayout', (event) => {
	console.log(event);
	
	
	var http = new XMLHttpRequest();
	http.onreadystatechange = function() {
	    if(http.readyState == 4 && http.status == 200) {
	    	if(http.responseText.includes("{"))
    		{
				var myJson = JSON.parse(http.responseText);
				/*
				for (var key in myJson) {
				    if (myJson.hasOwnProperty(key)) {
				        console.log(key + " -> " + myJson[key]);
				    }
				}
				*/
		        trace1.x = myJson['x_axis'];
		        trace1.open = myJson['open'];
		        trace1.high = myJson['high'];
		        trace1.low = myJson['low'];
		        trace1.close = myJson['close'];
		        
		        traceVolume.x = myJson['x_axis'];
		        traceVolume.y = myJson['volume'];
		        
		        krogci.x = myJson['krogci_x'];
		        krogci.y = myJson['krogci_y'];
		        
		        Plotly.redraw('plot_div');
		        
		        var div = document.getElementById('text_div');
		        div.innerHTML += 'Length received: ' + trace1.x.length;
		        
				refreshCrteLb();
	        }
	    }
	}					

	
    if ('shapes' in event) {
        if (event["shapes"].length > 0) {
        	var url = "/addLine";
        	http.open("POST", url, true);
        	http.setRequestHeader("Content-type", "application/json; charset=utf-8");

        	console.log(event["shapes"].slice(-1));
            if(event["shapes"].slice(-1)[0].type=='line'){
					var esp=document.createElement("span");
					text_div.appendChild(esp);
					
					var x0 = event["shapes"].slice(-1)[0].x0;
					var x1 = event["shapes"].slice(-1)[0].x1;
					var y0 = event["shapes"].slice(-1)[0].y0;
					var y1 = event["shapes"].slice(-1)[0].y1;
					
					text_div.innerHTML += "x0:"+x0+" y0:"+y0+" x1:"+x1+" y1:"+y1 + "\n";
					const crta = {x0: x0, y0: y0, x1: x1, y1:y1};
					http.send(JSON.stringify(event["shapes"].slice(-1)[0]));
					//tole zbrise vse crte
					//Plotly.relayout(myplot, { shapes: [] });
           	}
            else
            {
            	window.alert("type: " + event["shapes"].slice(-1)[0].type);
            }
        }
    }
    else
    {
    	eventStr = JSON.stringify(event)
    	if(eventStr.includes("shapes"))
    	{
        	var url = "/addLine";
    		http.open("POST", url, true);
    		http.setRequestHeader("Content-type", "application/json; charset=utf-8");
    		http.send(eventStr);
    	}
    	else if(eventStr.includes("xaxis.range[0]"))
    	{
        	var url = "/scroll";
			http.open("POST", url, true);
			http.setRequestHeader("Content-type", "application/json; charset=utf-8");
    		http.send(eventStr);
    	}
    }
});

/*
myplot.on('plotly_click',
	    function(data){
	      var point = data.points[0],
	          newAnnotation = {
	            x: point.xaxis.d2l(point.x),
	            y: point.yaxis.d2l(point.y),
	            arrowhead: 6,
	            ax: 0,
	            ay: -80,
	            bgcolor: 'rgba(255, 255, 255, 0.9)',
	            arrowcolor: point.fullData.marker.color,
	            font: {size:12},
	            bordercolor: point.fullData.marker.color,
	            borderwidth: 3,
	            borderpad: 4,
	            text: '<i>Series Identification</i><br>' + 
	                  '<b>Year</b>       '+(point.data.name) + '<br>' +
	                  '<i>Point Identification</i><br>' + 
	                  '<b>Month</b>      '+ (months[point.pointNumber]) + 
	                  '<br><i>Point Values</i><br>' +
	                  '<b>Time</b>     '+(point.x).toPrecision(4) +      
	                  '<br><b>Price</b>     '+(point.y).toPrecision(4) 
	                  
	        },
	        divid = document.getElementById('plot_div'),
	        newIndex = (divid.layout.annotations || []).length;
			console.log(point.pointNumber)
	     // delete instead if clicked twice
		  if(newIndex) {
	       var foundCopy = false;
	       divid.layout.annotations.forEach(function(ann, sameIndex) {
	         if(ann.text === newAnnotation.text ) {
	           Plotly.relayout('myDiv', 'annotations[' + sameIndex + ']', 'remove');
	           foundCopy = true;
	         }
	       });
	       if(foundCopy) return;
	     }
	     Plotly.relayout('myDiv', 'annotations[' + newIndex + ']', newAnnotation);
	  })  
*/
</script>
</body>
</html>  