<html>
<head>
<title>Crypto chart for: {{ plot_data.title }} V&K</title>
<link rel="icon" href="static/favicon.ico">
</head>
<body>
<!--<h1>This is the Index page</h1>-->

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<div id="plot_div" style="width: 80%; height: 100%; float: left;"></div>
<div id="text_div" style="width: 20%; height: 100%; float: right;"></div>

<script type="text/javascript">

{% autoescape false %}
var trace1 = {
	    type: 'scatter',
	    x: {{ plot_data.x_axis }} ,
	    y: {{ plot_data.y_axis }} ,
	    name: '{{ plot_data.title }}',
        showlegend: false
	    
};
var traceVolume= {
        type:"bar",
        x: {{ plot_data.x_axis }},
        y: {{ plot_data.volume }},
        marker: { color: 'blue'},
        yaxis:"y2",
	    name: 'Volume',
        line:{width:2},
        showlegend: false
        
};
var shapes = {{ plot_data.lines }}
{% endautoescape %}

var layout = {
	shapes: shapes,
    title: "{{ plot_data.title }}",
    titlefont: {
            family: 'Poppins',
            size: 18,
            color: '#7f7f7f'
        },
    showlegend: true,
    autoscale: true,
    
    xaxis: {
        title: 'Time'
    },
    yaxis: {
    	autorange: true,
        title: 'USD$',
        type: 'linear'
    },
    yaxis2: {
    	visible: false,
    	showgrid: false,
        title: 'USD$',
        type: 'linear',
        overlaying: 'y',
        range: [0, (Math.max(...traceVolume.y)*5)],
        side: 'right'
    },
    margin: {
        l: 70,
        r: 40,
        b: 50,
        t: 50,
        pad: 4
    }
};
var data = [trace1, traceVolume];
var config = {
		  toImageButtonOptions: {
		    format: 'svg', // one of png, svg, jpeg, webp
		    filename: 'custom_image',
		    height: 500,
		    width: 700,
		    scale: 1, // Multiply title/legend/axis/canvas sizes by this factor
		    
		  },
		  editable: true,
		  modeBarButtonsToAdd: ["drawline"]
		  };


Plotly.newPlot("plot_div", data, layout, config);
var myplot= document.getElementById("plot_div");
var text_div= document.getElementById("text_div");
myplot.on('plotly_relayout', (event) => {
	console.log(event);
	var http = new XMLHttpRequest();
	var url = "/addLine";
	http.open("POST", url, true);
	http.setRequestHeader("Content-type", "application/json; charset=utf-8");

	http.onreadystatechange = function() {
	    if(http.readyState == 4 && http.status == 200) {
			text_div.innerHTML += "poslal crto na python server\n";
	    }
	}
	
    if ('shapes' in event) {
        if (event["shapes"].length > 0) {
            console.log(event["shapes"].slice(-1));
            if(event["shapes"].slice(-1)[0].type=='line'){
					var esp=document.createElement("span");
					text_div.appendChild(esp);
					
					var x0 = event["shapes"].slice(-1)[0].x0;
					var x1 = event["shapes"].slice(-1)[0].x1;
					var y0 = event["shapes"].slice(-1)[0].y0;
					var y1 = event["shapes"].slice(-1)[0].y1;
					
					text_div.innerHTML += "x0:"+x0+" y0:"+y0+" x1:"+x1+" y1:"+y1 + "\n";
					
					
					const crta = {x0: x0, y0: y0, x1: x1, y1:y1};
					http.send(JSON.stringify(event["shapes"].slice(-1)[0]));
					
					//tole zbrise vse crte
					//Plotly.relayout(myplot, { shapes: [] });
           	}
            else
            {
            	window.alert("type: " + event["shapes"].slice(-1)[0].type);
            }
        }
    }
    else
    {
    	http.send(JSON.stringify(event));
    }
});

</script>
</body>
</html>  